{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-4">
        <h1>Payments</h1>
        <h6>Functions</h6>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a type="btn" class="btn btn-success" href="{% url 'payment-create' %}">Add Entry</a>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Queries
                </button>
                <div class="dropdown-menu">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Date (Oldest)</a>
                    <a class="dropdown-item" href="#">Date (Earliest)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Amount (Greatest)</a>
                    <a class="dropdown-item" href="#">Amount (Smallest)</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <form method="GET">
            {{ filter.form|crispy }}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
 </div>
<br>
<br>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">Hex</th>
      <th scope="col">Username</th>
      <th scope="col">DateTimeField</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for payment in filter.qs %}
    <tr>
      <!--<th scope="row">{{ forloop.counter }}</th>-->
      <th scope="row">{{ payment.id }}</th>
      <td>{{ payment.author }}</td>
      <td>{{ payment.time_posted }}</td>
      <td>{{ payment.author.first_name }}</td>
      <td>{{ payment.author.last_name }}</td>
      <td>TYPE</td>
      <td>${{ payment.amount }}</td>
      <td><a class="btn btn-secondary">View</a></td>
      <td><a class="btn btn-primary">Edit</a></td>
      <td>
          <form action="{% url 'delete-view' pk=payment.pk %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-danger" type="submit" value="Delete"/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
