{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
    <div class="col-4">
        <h1>Payments Table</h1>
        <div class="dropdown-divider"></div>
    </div>
</div>
<div class="btn-group">
    <a type="btn" class="btn btn-success" href="{% url 'payment-create' %}">Add Entry</a>
    <form action="" method="get" action="{% url 'contrib-home' %}">
        <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Queries
            </button>
            <div class="dropdown-menu">
                <div class="dropdown-divider"></div>
                <button type="submit" class="dropdown-item" value="latest" name="latest">Date (Latest)</button>
                <button type="submit" class="dropdown-item" value="earliest" name="earliest">Date (Earliest)</button>
                <div class="dropdown-divider"></div>
                <button type="submit" class="dropdown-item" value="greatest" name="greatest">Amount (Greatest)</button>
                <button type="submit" class="dropdown-item" value="smallest" name="smallest">Amount (Smallest)</button>
                <div class="dropdown-divider"></div>
                <button type="submit" class="dropdown-item" value="contribution" name="contribution">Contribution</button>
                <button type="submit" class="dropdown-item" value="expense" name="expense">Expense</button>
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </form>
</div>
<br><br>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">Hex UUIDField</th>
      <th scope="col">Username</th>
      <th scope="col">DateTimeField</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Amount</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
          Filter
      </button></th>
    </tr>
  </thead>
  <tbody>
    {% for payment in filter.qs %}
    <tr>
      <!--<th scope="row">{{ forloop.counter }}</th>-->
      <th scope="row">{{ payment.id }}</th>
      <td>{{ payment.author }}</td>
      <td>{{ payment.time_posted | date:"M d Y" }}</td>
      <td>{{ payment.author.first_name }}</td>
      <td>{{ payment.author.last_name }}</td>
      <td>${{ payment.amount }}</td>
      <td>{{ payment.type.all|join:"" }}</td>
      <td>
          <a class="btn btn-light" href="{% url 'payment-detail' pk=payment.pk %}">
              View
          </a>
      </td>
      <td>
          <a class="btn btn-light" href="{% url 'payment-update' pk=payment.pk %}">
              Edit
          </a>
      </td>
      <td>
          <form action="{% url 'delete-view' pk=payment.pk %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-danger" type="submit" value="Delete"/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search Payment table</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="GET">
      <div class="modal-body">
              {{ filter.form|crispy }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
