{% extends "blog/base.html" %}
{% block content %}
<br>
<h1>Detail Payment View</h1>
<br>
<hr>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Hex UUIDField</th>
      <th scope="col">Username</th>
      <th scope="col">DateTimeField</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Amount</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
      <th>
          <a type="btn" class="btn btn-info" href="{% url 'contrib-home' %}">Go back<a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ object.id }}</th>
      <td>{{ object.author }}</td>
      <td>{{ object.time_posted }}</td>
      <td>{{ object.author.first_name }}</td>
      <td>{{ object.author.last_name }}</td>
      <td>${{ object.amount }}</td>
      <td>{{ object.type.all|join:"" }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm" style="background: #f0f0f0;">
        <br>
        <h3>Description:</h3>
        <p>{{ object.description }}</p>
        <hr>
        <h3>Current Status:</h3>
        <h6>{{ object.status }}</h6>
        <a href="{% url 'update-status' operation='complete' pk=object.id %}">
            <button type="button" class="btn btn-primary">Complete</button>
        </a>
        <hr>
        <h3>Export to PDF</h3>
        <button class="btn btn-primary">Export</button>
        <hr>
        <h3>Additional Details:</h3>
    </div>
    <div class="col-sm">
      <div class="container">
          <div class="media">
              <img class="Img-thumbnail" src="{{ object.receipt_img.url }}">
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
